body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: "Poppins", sans-serif;
}

.navbar a{
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  /* text-align: center; */
  background-color: rgba(217, 221, 146, 0.2);
}

tr td {
  border: 1px solid #eeeeee;
  /* text-align: center; */
}

/* .period  */
form {
  max-width: 300px;
  margin: 0 auto;
}

/* .period  */
form > div {
  width: 100%;
  margin-bottom: 1em;
}

/* .period form  */
label {
  display: block;
  margin-bottom: 0.3em;
}

/* .period form  */
input {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  padding: 0.4em;
  border-radius: 6px;
  border: 1px solid #333e5a;
}
